<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['../../tabs/accueil']" (click)="stop()"></ion-back-button>
    </ion-buttons>
    <ion-title>Lecteur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="section" *ngFor="let s of song">
    <div class="section__background">
      <img id="backgroundImage" class="section__background-image" src="{{s.album.imageAlbum}}" alt="">
    </div>
    <div class="music-card__wrapper">
      <div class="music-card">
        <div class="music-card__content">
          <img class="music-image" src="{{s.album.imageAlbum}}" alt="">
          <div class="music-info">
            <h2 class="music-name">{{s.titre}}</h2>
            <p class="music-artist">{{s.nomArtiste}}</p>
          </div>
          <div class="vol-controls">
            <div slot="start" id="voldown" class="music-controls-item" (click)="voldown()">
              <ion-icon name="volume-low" class="music-controls-item--icon"></ion-icon>
            </div>
            <div slot="end" id="volup" class="music-controls-item" (click)="volup()">
              <ion-icon name="volume-high" class="music-controls-item--icon"></ion-icon>
            </div>
          </div>
          <div class="music-progress">
            <ion-range (ionChange)="playAtTime($event)" min="0" max="150" [value]="currentTime" id="progress-bar" class=""></ion-range>
            <div class="music-progress__time">
              <span *ngIf="!encours" class="music-progress__time-item music-current-time">00:00</span>
              <span class="music-progress__time-item music-current-time">{{encours}}</span>
              <span class="music-progress__time-item music-duration-time">{{audioTime}}</span>
            </div>
          </div>
          <div class="music-controls">
            <div id="prev" class="music-controls-item" (click)="prev()">
              <ion-icon name="play-skip-back" class="music-controls-item--icon"></ion-icon>
            </div>
            <div id="play" class="music-controls-item" (click)="play()">
              <ion-icon name="play-circle-outline" class="music-controls-item--icon play-icon"></ion-icon>
              <div class="play-icon-background"></div>
            </div>
            <div id="pause" class="music-controls-item" (click)="pause()">
              <ion-icon name="pause-circle-outline" class="music-controls-item--icon play-icon"></ion-icon>
              <div class="play-icon-background"></div>
            </div>
            <div id="stop" class="music-controls-item" (click)="stop()">
              <ion-icon name="stop-circle-outline" class="music-controls-item--icon play-icon"></ion-icon>
              <div class="play-icon-background"></div>
            </div>
            <div id="loop" class="music-controls-item" (click)="loop()">
              <ion-icon name="repeat-outline" class="music-controls-item--icon"></ion-icon>
            </div>
            <div id="next" class="music-controls-item" (click)="next()">
              <ion-icon name="play-skip-forward" class="music-controls-item--icon"></ion-icon>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
