*{
  font-family: Spotify;
}
ion-header{
  --ion-background-color: var(--ion-color-dark);
}
ion-title{
  color: var(--ion-color-light);
  font-family: Spotify;
}
img{
  height: 300px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-bottom: 25px;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: var(--ion-color-light);

  margin: 0;
}
