<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-title>À Propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <img src="/assets/images/logomuzik.PNG">
    <p>Star ING4 Zik</p>
    <p>Copyright &copy; 2023 - DIMOGNE TEHEM Emmanuel Franck</p>
  </div>
</ion-content>
