//ion-item{
//  --background: var(--ion-color-dark);
//}

ion-header{
  --ion-background-color: var(--ion-color-dark);
}
ion-title{
  color: var(--ion-color-light);
  font-family: Spotify;
}
ion-list{
  background: black;
}
.skelwhite{
  --background-rgb: 255,255,255;
  border-radius: 15px;
}
.skelheader{
  width: 100%;
  height: 40px;
}

.skelsimple{
  width: 100%;
}
ion-spinner{
  color: var(--ion-color-light);
}
ion-searchbar{
  color: var(--ion-color-light);
  font-family: Spotify;
}
ion-list-header{
  font-family: Spotify;
  color: var(--ion-color-light);
}
ion-label{
  font-family: Spotify;
  font-weight: bold;
}
.label{
  font-size: 14px;
}

.listimg{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  margin-left: -15px;
}
.listitem{

  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.nbchansons{
  font-size: 13px;
  font-weight: normal !important;

}
