<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Catégories</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher une musique..." [(ngModel)]="searchControl" (ionInput)="handleInput()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="!ispending && !issearching">
    <ion-list>
      <ion-list-header class="ion-padding-bottom">
        Chansons de {{nomCat}}
      </ion-list-header>
      <ng-container *ngFor="let ch of chansonsfilter">
        <ion-item [routerLink]="['/lecture', ch.idChanson]" class="listitem ion-justify-content-center ion-tappable">
          <img slot="start" class="listimg" src="{{ch.album.imageAlbum}}">
          <ion-label>{{ch.titre}}<br/><br/><span class="nbchansons">Album : {{ch.album.nomAlbum}}<br/>Artiste : {{ch.nomArtiste}}</span></ion-label>
          <ion-badge class="nbchansons" slot="end">mm:ss</ion-badge>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="ispending || issearching">
    <div class="ion-text-center ion-padding-top">
      <ion-spinner name="circles"></ion-spinner>
    </div>
    <ion-list>
      <ion-list-header class="ion-padding-bottom">
        <ion-skeleton-text class="skelwhite skelheader" animated="true"></ion-skeleton-text>
      </ion-list-header>
      <ng-container *ngFor="let ch of chansonsfilter">
        <ion-item class="listitem ion-justify-content-center ion-tappable">
          <ion-thumbnail slot="start" class="listimg">
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label class="label">
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text><br/><br/><span class="nbchansons">
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text><br/>
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text></span>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ng-container>

</ion-content>
