<ion-tabs #tabs (ionTabsDidChange)="setSelectedTab()">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil" href="/tabs/accueil">
      <ion-icon aria-hidden="true" [name]="selected == 'accueil' ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="musique" href="/tabs/musique">
      <ion-icon aria-hidden="true" [name]="selected == 'musique' ? 'musical-notes' : 'musical-notes-outline'" ></ion-icon>
      <ion-label>Musique</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="apropos" href="/tabs/apropos">
      <ion-icon aria-hidden="true" [name]="selected == 'apropos' ? 'information-circle' : 'information-circle-outline'"></ion-icon>
      <ion-label>À Propos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
