<ion-header [translucent]="true" mode="md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{nomAlb}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-list-header class="ion-padding-bottom">
      Album {{nomAlb}}
    </ion-list-header>
    <ng-container *ngFor="let ch of songsparalb">
      <ion-item [routerLink]="['/lecture', ch.idChanson]" mode="md" class="listitem ion-justify-content-center ion-tappable">
        <img slot="start" class="listimg" src="{{ch.album.imageAlbum}}">
        <ion-label>{{ch.titre}}<br/><br/><span class="nbchansons">Album : {{ch.album.nomAlbum}}<br/>Artiste : {{ch.nomArtiste}}</span></ion-label>
        <ion-badge class="nbchansons" slot="end">mm:ss</ion-badge>

      </ion-item>
    </ng-container>

  </ion-list>
</ion-content>
