<ion-header>
  <ion-toolbar>
    <ion-title>Musiques</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-segment value="all">
        <ion-segment-button value="artistes" [routerLink]="['artistes']" >
          <ion-icon name="person"></ion-icon>
          <ion-label>Artistes</ion-label>
        </ion-segment-button>
        <ion-segment-button value="albums" [routerLink]="['albums']">
          <ion-icon name="albums"></ion-icon>
          <ion-label>Albums</ion-label>
        </ion-segment-button>
        <ion-segment-button value="chansons" [routerLink]="['chansons']">
          <ion-icon name="musical-note"></ion-icon>
          <ion-label>Chansons</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
</ion-content>
