<ion-header [translucent]="true" mode="md">
  <ion-toolbar class="ion-text-center">
    <ion-title>Albums</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="albums" mode="md">
      <ion-segment-button value="artistes" [routerLink]="['../artistes']" >
        <ion-icon name="person"></ion-icon>
        <ion-label>Artistes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="albums">
        <ion-icon name="albums"></ion-icon>
        <ion-label>Albums</ion-label>
      </ion-segment-button>
      <ion-segment-button value="chansons" [routerLink]="['../chansons']">
        <ion-icon name="musical-note"></ion-icon>
        <ion-label>Chansons</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ng-container *ngIf="!ispending">
    <ion-list>
      <ion-list-header class="ion-padding-bottom">
        Albums
      </ion-list-header>
      <ng-container *ngFor="let a of albums">
        <ion-item mode="md" [routerLink]="['/chansonsparalbum', a.album.nomAlbum]" class="listitem ion-justify-content-center ion-tappable">
          <img slot="start" class="listimg" src="{{a.album.imageAlbum}}">
          <ion-label class="label">{{a.album.nomAlbum}}<br/></ion-label>
          <ion-icon slot="end" name="arrow-forward"></ion-icon>

        </ion-item>
      </ng-container>

    </ion-list>
  </ng-container>





  <ng-container *ngIf="ispending">
    <div class="ion-text-center ion-padding-top">
      <ion-spinner name="circles"></ion-spinner>
    </div>
    <ion-list>
      <ion-list-header class="ion-padding-bottom">
        <ion-skeleton-text class="skelwhite skelheader" animated="true" ></ion-skeleton-text>
      </ion-list-header>
      <ng-container *ngFor="let a of [1,2,3,4,5,6,7,8,9,10]">
        <ion-item mode="md" class="listitem ion-justify-content-center ion-tappable">
          <ion-thumbnail slot="start" class="listimg">
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label class="label">
            <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text><br/>
          </ion-label>
        </ion-item>
      </ng-container>

    </ion-list>
  </ng-container>
</ion-content>
