
<ion-header mode="md">
  <ion-toolbar class="ion-text-center">
    <ion-title >Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="!ispending">

  <h1 class="section-header">Categories</h1>

  <div class="cat">
    <img class="catimg" [routerLink]="['/categorie', cat.IdCategorie]" *ngFor="let cat of categories" src="{{cat.imageCategorie}}">
  </div>

  <h1 class="section-header">Favoris</h1>

  <div class="fav">
    <ng-container *ngFor="let s of songsfav">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col [routerLink]="['/lecture', s.idChanson]"><img class="favimg" src="{{s.album.imageAlbum}}"></ion-col><br/>
          <ion-label class="text">{{s.titre}}</ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <span class="text">{{s.nomArtiste}}</span>
        </ion-row>
      </ion-grid>

    </ng-container>

  </div>

  <h1 class="section-header">Artistes</h1>

  <div>
    <ng-container>
      <ion-grid class="ion-justify-content-center">
        <ion-row>
          <ng-container *ngFor="let s of songswithhighscore">
            <ion-col [routerLink]="['/chansonsparart', s.nomArtiste]" class="ion-padding-bottom ion-justify-content-center" size="4">
              <img class="artimg" src="{{s.photoArtiste}}"><br/>
              <ion-label class="text">{{s.nomArtiste}}</ion-label>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
  </ng-container>


  <ng-container *ngIf="ispending">
    <div class="ion-text-center ion-padding-top">
      <ion-spinner name="circles"></ion-spinner>
    </div>
  <ng-container>
  <h1 class="section-header"><ion-skeleton-text class="skelheader" animated="true"></ion-skeleton-text></h1>

  <div class="cat">
    <ion-thumbnail class="catimg" *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <ion-skeleton-text class="skelcat" animated="true"></ion-skeleton-text>
    </ion-thumbnail>

  </div>

  <h1 class="section-header"><ion-skeleton-text animated="true" class="skelheader"></ion-skeleton-text></h1>

  <div class="fav">
    <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8]">
      <ion-grid>
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-thumbnail class="favimg">
              <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text></ion-thumbnail>
          </ion-col><br/>
          <ion-label><ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text></ion-label>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <span><ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text></span>
        </ion-row>
      </ion-grid>

    </ng-container>

  </div>
  </ng-container>

  <h1 class="section-header"><ion-skeleton-text animated="true" class="skelheader"></ion-skeleton-text></h1>
  <div>
    <ng-container >
      <ion-grid class="ion-justify-content-center">
        <ion-row>
          <ng-container *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
            <ion-col class="ion-padding-bottom ion-justify-content-center" size="4">
              <ion-thumbnail class="artimg">
                <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text>
              </ion-thumbnail><br/>

                <ion-skeleton-text animated="true" class="skelsimple"></ion-skeleton-text>

            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>

  </ng-container>


</ion-content>
