
.section-header{
  color: var(--ion-color-light);
  font-family: Spotify;
  margin-left: 15px;
}
ion-header{
  --ion-background-color: var(--ion-color-dark);
}
ion-title{
  color: var(--ion-color-light);
  font-family: Spotify;
}
ion-skeleton-text{
  --background-rgb: 255,255,255;
  border-radius: 15px;
}
.skelheader{
  width: 100%;
  height: 40px;
}
.skelcat{
  width: 90%;
  height: 300px;
}
.skelsimple{
  width: 100%;
}
ion-spinner{
  color: var(--ion-color-light);
}
.cat{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-left: 15px;
}
.catimg{
  min-width: 300px;

  height: 175px;
  border-radius: 15px;
  margin-right: 15px;

}
.fav{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-left: 5px;

}

.favimg{
  min-width: 150px;
  height: 150px;
  border-radius: 15px;


}
.artimg{
  width: 110px;
  height: 110px;
  border-radius: 15px;

}
.text{
  color: var(--ion-color-light);
  font-family: Spotify;
}

